<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>Nestjs Chat</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <h1 class="text-center">{{ title }}</h1>
                <br>
                <div id="status"></div>
                <div id="chat">
                    <input type="text" v-model="name" id="username" class="form-control" placeholder="Enter name...">
                    <br>
                    <div class="card" id="messages">
                        <ul class="list-group list-group-flush">
                            <li v-for="(message, i) of messages" class="list-group-item" :class="{ 'list-group-item-warning' : i % 2 == 1}">{{ message.name }}: {{ message.text }}</li>
                        </ul>
                    </div>
                    <br>
                    <textarea id="textarea" class="form-control" v-model="text" placeholder="Enter message..."
                        @keydown.enter.exact.prevent="sendMessage"></textarea>
                    <br>
                    <button id="send" class="btn" @click.prevent="sendMessage">Send</button>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>